.Navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: var(--collor-white);
    border: solid var(--collor-grey) 2px;
}

.Navbar-Link{
    font-size: 20px;
    width: 100px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    margin: 0px 80px;
    background-color: var(--collor-white);
    text-decoration: none;
    color: var(--collor-black);
}

.Navbar-Serchinput{
    border: solid black 1px;
    padding: 8px;
    text-align: center;
    font-size: 16px;
    margin-right: 8px;
    border-radius: 16px;
    background-color: var;
    font-weight: 600;
}


.Navbar-Serch-button{
    border: solid black 1px;
    padding: 8px;
    text-align: center;
    font-size: 12px;
    margin-right: 8px;
    border-radius: 16px;
    background-color: var;
    font-weight: 600;
    width: 60px;
}