:root {
  --collor-black:  #272727;
  --collor-purple:  #AA7DCE;
  --collor-green:  #6BA368;
  --collor-yellow:  #F6BD60;
  --collor-cream:  #F4DAA7;
  --collor-grey:  #8B909B;
  --collor-white:  #F1F7ED;
}


.App {
  text-align: center;
  background-color: var(--collor-white);
}


